
    .footer {
        margin: 0px !important;
        background: #73ad4a;
        text-align: center;
        padding-top: 20px;
        border-radius: 0px;
        filter: drop-shadow(2px 4px 6px rgba(63, 63, 63, 0.226));
    }
    
    .footer h6 {
        color: #fff;
    }
    
    .footer p {
        color: #fff;
        margin: 5px;
    }
    
    .footer a {
        font-size: 34px;
        color: #fff;
        text-decoration: none;
    }
    
    .ciercals {
        width: 14px;
        height: 14px;
        background: #79d637;
        border-radius: 50%;
        display: inline-block;
    }
    
    .ciercals1 {
        align-self: center;
        margin-bottom: 46px;
        text-align: -webkit-right;
        text-align: center;
    }
    
    .ciercals2 {
        align-self: center;
        margin-bottom: 46px;
        text-align: -webkit-right;
        text-align: center;
    }
    
    footer {
        margin: 0px;
        padding: 0px;
        background: #1d6272;
        text-align: right;
    }
    
    .float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 40px;
        right: 40px;
        background-color: #25d366;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 2px 2px 3px #999;
        z-index: 100;
    }
    
    .my-float {
        margin-top: 16px;
    }

    .whatsappicon {
      background-image: url("../imagens/whatsapp-logo-1.png");
  }

    @media (max-width: 1200px) {
      .ciercals1 {
          text-align: center !important;
          margin-top: 20px !important;
      }
      .ciercals2 {
          text-align: center !important;
          margin-top: 20px !important;
      }
      .clearfix li {
          width: 40% !important;
      }

  }
    
    @media  (max-width: 890px) {
        .offer h1{
          font-size: 20px;
        }
        .offer p{
          font-size: 18px;
        }

    }
    
    @media  (max-width: 575px) {
        .offer-content{
          margin-top: 100px;
        }
        .offer{
          padding-bottom: 50px;
        }
    }
 
    @media only screen and (min-width: 320px) and (max-width: 560px) {
      body {
          -webkit-text-size-adjust: none;
          background: #196370;
      }
  }